<div>
  <h2>Politique de confidentialité</h2>
  <h3>1. Collecte des données</h3>
  <p>Dans le cadre de l’utilisation de notre application, nous collectons les données suivantes :

  Nom, prénom, adresse e-mail des utilisateurs inscrits.
  Numéro de sécurité sociale des personnes âgées encadrées.</p>
  <h3>2. Utilisation des données</h3>
  <p>Ces données sont collectées afin de :

  Identifier les utilisateurs et leur permettre d’accéder aux fonctionnalités de l’application. Associer chaque personne âgée à un seul groupe et faciliter son suivi par le personnel médical.</p>
  <h3>3. Stockage et sécurité</h3>
  <p>Les données sont stockées sur un serveur privé, hébergé sur un Raspberry Pi. Nous mettons en place des mesures de sécurité pour protéger ces informations contre tout accès non autorisé.</p>

  <h3>4. Droits des utilisateurs</h3>
  <p>Chaque utilisateur peut consulter ses informations depuis son profil et a la possibilité de supprimer son compte à tout moment.</p>

  <h3>5. Responsable du traitement</h3>
  <p>Les données sont gérées par l’équipe Solid’Aidants. Pour toute question ou demande concernant vos données personnelles, vous ne pouvez pas nous contacter, désolé.</p>
</div>
